.rangeslider-horizontal .rangeslider__fill {
    width: 100%;
    background-color: #81171d;
    box-shadow: none;
    bottom: 0;
  }

.rangeslider {
    margin: 20px 0;
    position: relative;
    background: #e6e6e6;
    -ms-touch-action: none;
    touch-action: none;
}

.rangeslider__label-item{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: -4.8%;
}

.rangeslider-horizontal .rangeslider__handle {
    width: 10px;
    height: 10px;
    border-radius: 30px;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.rangeslider-horizontal {
  height: 5px;
  border-radius: 5px;
}

.rangeslider-horizontal .rangeslider__handle:after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    top: 0px;
    left: 0px;
    border-radius: 100%;
    background-color: #dadada;
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4) inset, 0 -1px 3px rgba(0, 0, 0, 0.4) inset; */
  }

  .gap{
    margin-bottom: 7.5%;
  }